# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
matplotlib
ipywidgets
ipython
dash
dash-bootstrap-components
dash_bootstrap_templates
ipython_genutils
scipy
pandas
dill
dash-loading-spinners
gunicorn
