input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.accordion-button.collapsed {
    background-color: #ebebeb;
}
.accordion-button:not(.collapsed) {
    background-color: #ffffff;
}

.accordion-body {
    background-color: #ffffff;
} 

.form-select {
    background-color: #ebebeb;
}

.form-control {
    background-color: #ebebeb;
}